<div class="alert alert-primary">
    <div class="row">
        <div class="col-md-4">
            <h1>Mantenimiento de Promocion</h1>
        </div>
        <div class="col-md-2">
            <button id="btnAgregarPromocion" class="btn btn-success">
                Agregar  
            </button>
        </div>
    </div>
</div>

<div id="divListadoPromocion" class="divListadoPromocion">

</div>

<script>

    CargarListadoPromocion()
    function CargarListadoPromocion()
    {

        $.ajax({

            type: "GET",
            url: "@Url.Action("Listado","Promocion")",
            cache: false,
            success: function(dataHTMLPromocion) {
                $("#divListadoPromocion").html(dataHTMLPromocion)
            }
        });
    }
</script>