<div class="alert alert-primary">
    <div class="row">
        <div class="col-md-4">
            <h1>Mantenimiento de Rol</h1>
        </div>
        <div class="col-md-2">
            <button id="btnAgregarRol" class="btn btn-success">
                Agregar  
            </button>
        </div>
    </div>
</div>

<div id="divListadoRol" class="divListadoRol">

</div>

<script>

    CargarListadoRol()
    function CargarListadoRol()
    {

        $.ajax({

            type: "GET",
            url: "@Url.Action("Listado","Rol")",
            cache: false,
            success: function(dataHTMLRol) {
                $("#divListadoRol").html(dataHTMLRol)
            }
        });
    }
</script>