<div class="alert alert-primary">
    <div class="row">
        <div class="col-md-4">
            <h1>Mantenimiento de Pais</h1>
        </div>
        <div class="col-md-2">
            <button id="btnAgregarPais" class="btn btn-success">
                Agregar  
            </button>
        </div>
    </div>
</div>

<div id="divListadoPais" class="divListadoPais">

</div>

<script>

    CargarListadoPais()
    function CargarListadoPais()
    {

        $.ajax({

            type: "GET",
            url: "@Url.Action("Listado","Pais")",
            cache: false,
            success: function(dataHTMLPais) {
                $("#divListadoPais").html(dataHTMLPais)
            }
        });
    }
</script>